<!DOCTYPE html> 

<html>
	<head>
	<title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
</head>
	<body>
		<h1>Sample App</h1>
		<p>Contact Page for the Ruby on Rails Tutorial sample application</p>
	</body>
</html>